# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Local Database
*.db
*.sqlite3

# Model Artifacts
*.pkl
*.pth

# IDE specific
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info

spam_detection_modules.md
evaluate_models.py
fold_test.py