# Core data handling and machine learning
pandas
scikit-learn
imbalanced-learn
numpy<2.0
scipy
seaborn
matplotlib

# For natural language processing and word embeddings
spacy
torch

flask

Flask-SQLAlchemy
psycopg2-binary
redis

gunicorn